*

!*/
!**/mpi_fortran/clibrary/**
!*.gitignore
!*.f90
!*.txt
!*.md
!*.h*
!*.c
!*.py
!*.yml
!*.dox
!*.json
!**/external/**
!**/test_test-drive/test-drive/external/**
**/test_test-drive/build/
**/io_example/build/
**/build/